<div class="jumbotron">
    <a href="/product/new" class="btn btn-info">All Products</a>
    <a href="/categories" class="btn btn-info">AllCategories</a>
    <h1>Welcome To Our Shop.</h1>
</div>
